@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.bg-image {
  background-image: url("../../public/background.svg");
  width: 100%;
  height: 100%; /* full screen */
  background-position: center center; /* center horizontally & vertically */
  background-repeat: no-repeat;
  /* background-size: ;  */
}

/* globals.css */
@keyframes spin-once {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-once {
  animation: spin-once 0.7s ease-in-out forwards;
}
